<?xml version="1.0" encoding="UTF-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <variable name="fileLogDirectory" value="C:/Logs" />
  <variable name="fileLogLayout" value="[${level:uppercase=true:padding=-5}],[${longdate}],[${threadid:padding=3}],${replace-newlines:${message}}${exception:format=shortType,message:maxInnerExceptionLevel=5:innerFormat=shortType,message}" />
  <variable name="consoleLogLayout" value="[${time}],[${threadid:padding=3}],${replace-newlines:${message}}${exception:format=shortType,message:maxInnerExceptionLevel=5:innerFormat=shortType,message}}" />


  <targets>
    <target name="ConsoleTarget" xsi:type="ColoredConsole"
            layout="${var:consoleLogLayout}"
            useDefaultRowHighlightingRules="true"
            />
  </targets>

  <targets async="true">
    <target name="FileTarget" xsi:type="File"
            layout="${var:fileLogLayout}"
            fileName="${var:fileLogDirectory}/${logger}.log"
            archiveEvery="Day"
            archiveFileName="${var:fileLogDirectory}/Archive/{#}_{logger}.log"
            archiveNumbering="Date"
            archiveDateFormat="yyyy-MM-dd"
            maxArchiveFiles="30"
            />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="ConsoleTarget" />
    <logger name="*" minlevel="Info" writeTo="FileTarget" />
  </rules>
</nlog>